
@{ ViewData["Title"] = "_EditConfirmPayment"; }

<style>
    .xs {
        position: relative;
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;
    }

        .xs .img {
            position: absolute;
            transform: translate();
            visibility: hidden;
            z-index: 1;
            max-width: 100%;
            height: auto;
        }

        .xs:hover .img {
            visibility: visible;
        }
</style>
@{
    double total = 0;
    double tax = 0.07;
}
<div class="modal fade" id="EditConfirmPayment">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5>ข้อมูลรายการสั่งทำที่ : @ViewBag.OrderPrintId</h5>
                <input type="hidden" name="OrderPrintId" id="OrderPrintId" value="@ViewBag.OrderPrintId" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>สั่งทำโดย : คุณ @ViewBag.CusFullname</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>สั่งเมื่อวันที่ : @ViewBag.Orderdate.ToString("dd MMMM yyyy")</label>
                                </div>
                                <div class="col-md-6">
                                    <label>กำหนดรับวันที่ : @ViewBag.Orderdue.ToString("dd MMMM yyyy")</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-box">
                                        <div class="table-row bg-dark">
                                            <div class="table-cell text-white">
                                                <p>รหัสรายการ</p>
                                            </div>
                                            <div class="table-cell text-white">
                                                <p>ชื่อรายการ</p>
                                            </div>
                                            <div class="table-cell text-white">
                                                <p>พื้นที่รวม</p>
                                            </div>
                                            <div class="table-cell text-white">
                                                <p>ราคาต่อหน่วย</p>
                                            </div>
                                            <div class="table-cell text-white">
                                                <p>จำนวน</p>
                                            </div>
                                            <div class="table-cell last-cell text-white">
                                                <p>รวมเป็นเงิน</p>
                                            </div>
                                        </div>
                                        @{ var totalprice = 0; }

                                        @foreach (var x in ViewBag.OrderList)
                                        {
                                            <div class="table-row">
                                                <div class="table-cell">
                                                    <p>@x.OrdPrintId</p>
                                                </div>
                                                <div class="table-cell">
                                                    <a href="/@x.OrdPrintFile" target="_blank">
                                                        <span class="xs">
                                                            @foreach (var p in ViewBag.PrintName)
                                                            {
                                                                if (x.PrintId == p.PrintId)
                                                                {
                                                                    <label>@p.PrintName</label>
                                                                }
                                                            }
                                                            <img class="img" id="showImg" src="/@x.OrdPrintFile" />
                                                        </span><br />
                                                    </a>
                                                    <small>( @x.OrdPrintWidth X @x.OrdPrintHeight )</small>
                                                </div>
                                                <div class="table-cell">
                                                    <p>
                                                        @{ var sumarea = (x.OrdPrintWidth * x.OrdPrintHeight) / 10000; }
                                                        @sumarea
                                                    </p>
                                                </div>
                                                <div class="table-cell">
                                                    <p>@x.OrdPrintPriceset.ToString("#,###.00")</p>
                                                </div>
                                                <div class="table-cell">
                                                    <p>@x.OrdPrintNum.ToString("#,###")</p>
                                                </div>
                                                <div class="table-cell last-cell">
                                                    <p>@x.OrdPrintTotal.ToString("#,###.00")</p>
                                                </div>
                                            </div>
                                            total += x.OrdPrintTotal;
                                        }
                                        <div class="row mt-3">
                                            <div class="col-md-4">
                                                <div class="alert alert-primary" align="center">
                                                    <h5>ราคาสุทธิ : <b>@total.ToString("#,###.00")</b> บาท</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="alert alert-warning" align="center">
                                                    @{ total = total * tax;}
                                                    <h5>ภาษี 7% เป็นเงิน : <b>@total.ToString("#,###.00")</b> บาท</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="alert alert-success" align="center">
                                                    <h5>รวมเป็นเงิน : <b>@ViewBag.PriceTotal.ToString("#,###.00")</b> บาท</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell last-cell" align="right">
                                                <div>
                                                    <h4 align="center">หลักฐานการชำระเงิน</h4>
                                                </div>
                                                <img src="/@ViewBag.ProofFile" width="374" height="500" />
                                            </div>
                                        </div>
                                        <div align="center" style="margin-top:2%">
                                            <button type="button" class="btn btn-outline-success badge-pill" onclick="checkconfirmpayment()">ชำระเงินเรียบร้อยแล้ว</button>
                                            <button type="button" class="btn btn-outline-danger badge-pill" onclick="checkdeleteconfirmpayment()">ยกเลิกหลักฐาน</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-time"></i>ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>

<script>

    function checkconfirmpayment() {
            swal({
                title: "กรุณายืนยันการทำรายการ",
                text: "คุณต้องการยืนยันการชำระเงิน รายการที่ : @ViewBag.OrderPrintId ใช่หรือไม่",
                icon: "warning",
                buttons:["ยกเลิก","ยืนยัน"],
            }).then((willupdate) => {
                if (willupdate) {
                    editconfirmpayment();
                } else {
                    swal({
                        title: "ยกเลิกสำเร็จ",
                        text: "คุณได้ยกเลิกการทำรายการนี้แล้ว",
                        icon:"success",
                    });
                }
            })
        }

    function editconfirmpayment() {
            var OrPrintId = document.getElementById("OrderPrintId").value;
            var OrPrintStatus = 2;
            $.ajax({
                type: "post",
                data: { OrPrintId, OrPrintStatus },
                url: "/OrderPrint/updateconfirmpayment",
                success: function (result) {
                    console.log(result);
                    if (result == 1) {
                        toastr.success("ยืนยันการชำระเงินรายการสั่งทำที่ : @ViewBag.OrderPrintId เรียบร้อยแล้ว", "สำเร็จ", { timeOut: 3000, "closeButton": true });
                        setTimeout(function fetch() {
                            window.location.href = ("/OrderPrint/ConfirmPayment");
                        },3000);
                    } else {
                        toastr.error("รายการสั่งทำที่ : @ViewBag.OrderPrintId ไม่ถูกเปลี่ยนแปลง", "ไม่สำเร็จ", { timeOut: 3000, "closeButton": true });
                    }
                }
            })
    }

    function checkdeleteconfirmpayment() {
            swal({
                title: "กรุณายืนยันการทำรายการ",
                text: "การยกเลิกหลักฐานการชำระมีผลทำให้ลูกค้าต้องสั่งทำใหม่อีกครั้ง คุณค้องการยกเลิกหลักฐานการชำระรายการที่ : @ViewBag.OrderPrintId ใช่หรือไม่",
                icon: "warning",
                buttons:["ยกเลิก","ยืนยัน"],
            }).then((willupdate) => {
                if (willupdate) {
                    deletepayment();
                } else {
                    swal({
                        title: "ยกเลิก !",
                        text: "คุณได้ยกเลิกการทำรายการนี้แล้ว",
                        icon:"error",
                    });
                }
            })
        }

        function deletepayment() {
            var OrPrintId = document.getElementById("OrderPrintId").value;
            var OrPrintStatus = null;
            $.ajax({
                type: "post",
                data: { OrPrintId, OrPrintStatus },
                url: "/OrderPrint/deletepayment",
                success: function (result) {
                    if (result == 1) {
                        toastr.success("ยกเลิกหลักฐานการแจ้งชำระเงิน : @ViewBag.OrderPrintId เรียบร้อยแล้ว", "สำเร็จ", { timeOut: 3000, "closeButton": true });
                        setTimeout(function load() {
                            location.reload();
                        }, 1500);
                    } else {
                        toastr.error("รายการสั่งทำที่ : @ViewBag.OrderPrintId ไม่ถูกเปลี่ยนแปลง", "ไม่สำเร็จ", { timeOut: 3000, "closeButton": true });
                    }
                }
            })
        }

</script>
