@model Graphiczone.Models.SQLServer.OrderPrint
@{
    ViewData["Title"] = "GetWorkDetail";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
    <style>
        
    </style>
@{ 
    var strColorPaystatus = "";
    var strPaystatrus = "";
}
    <div class="row" style="margin-bottom:2%">
        <div class="col-md-12">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                รายละเอียดการสั่งทำที่ @ViewBag.OrPrintId
                                <input type="hidden" name="OrPrintId" id="OrPrintId" value="@ViewBag.OrPrintId" />
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <h5>ข้อมูลลูกค้า</h5>
                            <hr class="bg-light" />
                            <div class="row">
                                <div class="col-md-12">
                                    ชื่อ - นามสกุล (ลูกค้า) : @ViewBag.CusFullname
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    เบอร์ติดต่อ : @ViewBag.CusTel
                                </div>
                                <div class="col-md-6">
                                    อีเมลล์ : @ViewBag.CusEmail
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    ที่อยู่ : @ViewBag.CusAddress
                                </div>
                            </div>

                            <h5 style="margin-top:5%">รายละเอียดการสั่ง</h5>
                            <hr class="bg-light" />
                            <div class="table-box">
                                <div class="table-row">
                                    <div class="table-cell">
                                        <p>รหัสรายการ</p>
                                    </div>
                                    <div class="table-cell">
                                        <p>ชื่อรายการ</p>
                                    </div>
                                    <div class="table-cell">
                                        <p>พื้นที่รวม</p>
                                    </div>
                                    <div class="table-cell">
                                        <p>ราคาต่อหน่วย</p>
                                    </div>
                                    <div class="table-cell">
                                        <p>จำนวน</p>
                                    </div>
                                    <div class="table-cell last-cell">
                                        <p>รวมเป็นเงิน</p>
                                    </div>
                                </div>
                                @foreach (var x in ViewBag.OrPrintDetail)
                                {
                                    <div class="table-row">
                                        <div class="table-cell">
                                            <p>@x.OrdPrintId</p>
                                        </div>
                                        <div class="table-cell">
                                            <p>@x.OrdPrintName</p>
                                            <small>@ViewBag.PrintName ( @x.OrdPrintWidth X @x.OrdPrintHeight )</small>
                                        </div>
                                        <div class="table-cell">
                                            <p>
                                                @{
                                                    var sumarea = x.OrdPrintWidth * x.OrdPrintHeight;
                                                }
                                                @sumarea
                                            </p>
                                        </div>
                                        <div class="table-cell">
                                            <p>@x.OrdPrintPriceset.ToString("#,###.00")</p>
                                        </div>
                                        <div class="table-cell">
                                            <p>@x.OrdPrintNum.ToString("#,###")</p>
                                        </div>
                                        <div class="table-cell last-cell">
                                            <p>@x.OrdPrintTotal.ToString("#,###.00")</p>
                                        </div>
                                    </div>
                                }
                                <div class="alert alert-success" align="center">
                                    <h5>รวมเป็นเงิน : <b>@ViewBag.PriceTotal.ToString("#,###.00")</b> บาท</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="bg-light" />
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="true">แจ้งหลักฐานชำระเงิน</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="work-tab" data-toggle="tab" href="#work" role="tab" aria-controls="work" aria-selected="false">บันทึกสถานะงาน</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab" aria-controls="shipping" aria-selected="false">บันทึกสถานะการส่งมอบ</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                    <form action="/" method="post" id="paymentform">
                        @if(Model.OrPrintStatus == 0)
                        {
                            strColorPaystatus = "danger";
                            strPaystatrus = "ยังไม่ยืนยันหลักฐานการชำระเงิน";
                        }
                        else
                        {
                            strColorPaystatus = "success";
                            strPaystatrus = "ยืนยันหลักฐานการชำระเงินเรียบร้อย";
                        }
                        <div class="alert alert-@strColorPaystatus" role="alert">@strPaystatrus</div>
                        <div class="form-group" style="margin-top:2%">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-12" align="center">
                                    <img src="/@ViewBag.getImgCode" alt="หลักฐานการชำระเงิน" width="374" height="500" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-file-invoice-dollar"></i></span>
                                        </div>
                                        <input class="form-control" type="text" name="PrfPayId" id="PrfPayId" value="@ViewBag.getPayCode" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-university"></i></span>
                                        </div>
                                        <input class="form-control" type="text" name="PrfPayBank" id="PrfPayBank" value="@ViewBag.getPayBank" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
                                        </div>
                                        <input class="form-control" type="text" name="PrfPayDate" id="PrfPayDate" value="@ViewBag.getPayDate" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        <input class="form-control" type="text" name="PrfPayTime" id="PrfPayTime" value="@ViewBag.getPayTime" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-info-circle"></i></span>
                                        </div>
                                        <textarea class="form-control" id="PrfPayDetail" name="PrfPayDetail" value="@ViewBag.getPayDetail" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                @if (Model.OrPrintStatus == 0 && ViewBag.getPayCode != null)
                                {
                                    <div class="col-md-6">
                                        <button class="btn btn-outline-info form-control" onclick="savepayment()">ยืนยันการชำระ</button>
                                    </div>
                                }
                                @if (ViewBag.getPayCode != null)
                                {
                                    <div class="col-md-6">
                                        <button class="btn btn-danger form-control" onclick="deletepayment()">ลบหลักฐาน</button>
                                    </div>
                                }

                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="work" role="tabpanel" aria-labelledby="work-tab">...</div>
                <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">...</div>
            </div>
        </div>
    </div>

    <script>
        function savepayment() {
            var OrPrintId = document.getElementById("OrPrintId").value;
            var OrPrintStatus = 1;
            $.ajax({
                type: "post",
                data: { OrPrintId, OrPrintStatus },
                url: "/OrderPrint/updatepayment",
                success: function (result) {
                    alert("xxxx");
                }
            })
        }
    </script>