@model Graphiczone.Models.SQLServer.OrderPrint
@{
    ViewData["Title"] = "รายละเอียดรายการสั่งทำ";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .xs {
        position: relative;
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;
    }

        .xs .img {
            position: absolute;
            transform: translate();
            visibility: hidden;
            z-index: 1;
            max-width: 100%;
            height: auto;
        }

        .xs:hover .img {
            visibility: visible;
        }
</style>
@{
    var strColorstatus = "";
    var strStatrus = "";
    var strIcon = "";
    var strDis = "";
    double total = 0;
    double tax = 0.07;
}
<div class="row" style="margin-bottom:2%">
    <div class="col-md-12">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            รายละเอียดการสั่งทำที่ @ViewBag.OrPrintId
                            <input type="hidden" name="OrPrintId" id="OrPrintId" value="@ViewBag.OrPrintId" />
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        @if (Model.OrPrintStatus >= 2 && ViewBag.OrPrintDue != null)
                        {
                            <div align="right">
                                <a class="btn btn-primary" href="@Url.Action("OrderInvoice","OrderPrint",new { id = ViewBag.OrPrintId })" target="_blank">ใบเสร็จชำระเงิน</a>
                            </div>
                        }
                        <h5>ข้อมูลลูกค้า</h5>
                        <hr class="bg-light" />
                        <div class="row">
                            <div class="col-md-12">
                                ชื่อ - นามสกุล (ลูกค้า) : @ViewBag.CusFullname
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                เบอร์ติดต่อ : @ViewBag.CusTel
                            </div>
                            <div class="col-md-6">
                                อีเมลล์ : @ViewBag.CusEmail
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                ที่อยู่ : @ViewBag.CusAddress
                            </div>
                        </div>
                        <h5 style="margin-top:5%">รายละเอียดการสั่ง</h5>
                        <div class="row">
                            <div class="col-md-6">
                                วันที่สั่ง : @ViewBag.OrPrintDate.ToString("dd MMM yyyy")
                            </div>
                            <div class="col-md-6">
                                @if (ViewBag.OrPrintDue != null)
                                {
                                    <label>วันครบกำหนดรับ : @ViewBag.OrPrintDue.ToString("dd MMM yyyy")</label>
                                }
                                else
                                {
                                    <label class="text-danger">วันครบกำหนดรับ: อยู่ระอย่างการประเมินระยะเวลาส่งมอบ</label>
                                }
                            </div>
                        </div>
                        <hr class="bg-light" />
                        <div class="table-box">
                            <div class="table-row bg-dark">
                                <div class="table-cell text-white">
                                    <p>รหัสรายการ</p>
                                </div>
                                <div class="table-cell text-white">
                                    <p>ชื่อรายการ</p>
                                </div>
                                <div class="table-cell text-white">
                                    <p>พื้นที่รวม</p>
                                </div>
                                <div class="table-cell text-white">
                                    <p>ราคาต่อหน่วย</p>
                                </div>
                                <div class="table-cell text-white">
                                    <p>จำนวน</p>
                                </div>
                                <div class="table-cell last-cell text-white">
                                    <p>รวมเป็นเงิน</p>
                                </div>
                            </div>
                            @foreach (var x in ViewBag.OrPrintDetail)
                            {
                                <div class="table-row">
                                    <div class="table-cell">
                                        <p>@x.OrdPrintId</p>
                                    </div>
                                    <div class="table-cell">
                                        <a href="/@x.OrdPrintFile" target="_blank">
                                            <span class="xs">
                                                @foreach (var p in ViewBag.PrintName)
                                                {
                                                    if (x.PrintId == p.PrintId)
                                                    {
                                                        <label>@p.PrintName</label>
                                                    }
                                                }
                                                <img class="img" id="showImg" src="/@x.OrdPrintFile" />
                                            </span>
                                        </a><br />
                                        <small>( @x.OrdPrintWidth X @x.OrdPrintHeight )</small><br />
                                        @if (x.OrdPrintDetail != null)
                                        {
                                        <small><p class="badge badge-primary" data-toggle="tooltip" data-placement="right" title="@x.OrdPrintDetail">รายละเอียดเพิ่มเติม</p></small>
                                        <script>
                                            $(document).ready(function () {
                                                $('[data-toggle="tooltip"]').tooltip();
                                            });
                                        </script>
                                        }

                                    </div>
                                    <div class="table-cell">
                                        <p>
                                            @{
                                                var sumarea = (x.OrdPrintWidth * x.OrdPrintHeight) / 10000;
                                            }
                                            @sumarea
                                        </p>
                                    </div>
                                    <div class="table-cell">
                                        <p>@x.OrdPrintPriceset.ToString("#,###.00")</p>
                                    </div>
                                    <div class="table-cell">
                                        <p>@x.OrdPrintNum.ToString("#,###")</p>
                                    </div>
                                    <div class="table-cell last-cell">
                                        <p>@x.OrdPrintTotal.ToString("#,###.00")</p>
                                    </div>
                                </div>
                                total += x.OrdPrintTotal;
                            }
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <div class="alert alert-primary" align="center">
                                        <h5>ราคาสุทธิ : <b>@total.ToString("#,###.00")</b> บาท</h5>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="alert alert-warning" align="center">
                                        @{ total = total * tax;}
                                        <h5>ภาษี 7% เป็นเงิน : <b>@total.ToString("#,###.00")</b> บาท</h5>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="alert alert-success" align="center">
                                        <h5>รวมเป็นเงิน : <b>@ViewBag.PriceTotal.ToString("#,###.00")</b> บาท</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="bg-light" />
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="due-tab" data-toggle="tab" href="#due" role="tab" aria-controls="due" aria-selected="true">ประเมินระยะเวลาส่งมอบ</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false">แจ้งหลักฐานชำระเงิน</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="work-tab" data-toggle="tab" href="#work" role="tab" aria-controls="work" aria-selected="false">บันทึกสถานะงาน</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab" aria-controls="shipping" aria-selected="false">บันทึกสถานะการส่งมอบ</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="due" role="tabpanel" aria-labelledby="due-tab">
                    <form id="dueform">
                        @if (Model.OrPrintStatus == 0 && Model.OrPrintDue == null)
                        {
                            strColorstatus = "info";
                            strStatrus = "อยู่ระหว่างการประเมินระยะเวลาส่งมอบ";
                            strIcon = "fas fa-info";
                        }
                        else if (Model.OrPrintStatus == 0)
                        {
                            strColorstatus = "danger";
                            strStatrus = "ยังไม่ยืนยันหลักฐานการชำระเงิน";
                            strIcon = "fas fa-times";
                        }
                        else if (Model.OrPrintStatus == 1)
                        {
                            strColorstatus = "warning";
                            strStatrus = "แจ้งชำระแล้วรอยืนยัน";
                            strIcon = "fas fa-history";
                        }
                        else
                        {
                            strColorstatus = "success";
                            strStatrus = "ประเมินระยะเวลาส่งมอบเรียบร้อย";
                            strIcon = "fas fa-check";
                        }
                        <div class="alert alert-@strColorstatus" role="alert"><i class="@strIcon"></i> @strStatrus</div>
                        <div class="form-group">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-file-invoice-dollar"></i></span>
                                        </div>
                                        @if (Model.OrPrintStatus == 0 && Model.OrPrintDue == null)
                                        {
                                            <input class="form-control" type="date" name="OrPrintDue" id="OrPrintDue" min="@DateTime.Now.ToString("yyyy-MM-dd")" required="required" />
                                        }
                                        else
                                        {
                                            <input class="form-control" type="date" name="OrPrintDue" id="OrPrintDue" value="@ViewBag.getDueForPicker" readonly />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form-group">
                        <div class="row">
                            @if (Model.OrPrintStatus == 0 && Model.OrPrintDue == null)
                            {
                                <div class="col-md-6 offset-md-3">
                                    <button class="btn btn-success form-control" onclick="checksaveordue()">บันทึก</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                    <form id="paymentform">
                        @if (Model.OrPrintStatus == 0)
                        {
                            strColorstatus = "danger";
                            strStatrus = "ยังไม่ยืนยันหลักฐานการชำระเงิน";
                            strIcon = "fas fa-times";
                        }
                        else if (Model.OrPrintStatus == 1)
                        {
                            strColorstatus = "warning";
                            strStatrus = "แจ้งชำระแล้วรอยืนยัน";
                            strIcon = "fas fa-history";
                        }
                        else
                        {
                            strColorstatus = "success";
                            strStatrus = "ยืนยันหลักฐานการชำระเงินเรียบร้อย";
                            strIcon = "fas fa-check";
                        }
                        <div class="alert alert-@strColorstatus" role="alert"><i class="@strIcon"></i> @strStatrus</div>
                        <div class="form-group" style="margin-top:2%">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-12" align="center">
                                    <img src="/@ViewBag.getImgCode" alt="หลักฐานการชำระเงิน" width="374" height="500" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-file-invoice-dollar"></i></span>
                                        </div>
                                        <input class="form-control" type="text" name="PrfPayId" id="PrfPayId" value="@ViewBag.getPayCode" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-university"></i></span>
                                        </div>
                                        <input class="form-control" type="text" name="PrfPayBank" id="PrfPayBank" value="@ViewBag.getPayBank" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
                                        </div>
                                        <input class="form-control" type="text" name="PrfPayDate" id="PrfPayDate" value="@ViewBag.getPayDate" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        <input class="form-control" type="text" name="PrfPayTime" id="PrfPayTime" value="@ViewBag.getPayTime" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-info-circle"></i></span>
                                        </div>
                                        <input class="form-control" type="text" name="PrfPayDetail" id="PrfPayDetail" value="@ViewBag.getPayDetail" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form-group">
                        <div class="row">
                            @if (Model.OrPrintStatus == 1 && ViewBag.getPayCode != null)
                            {
                                <div class="col-md-6">
                                    <button class="btn btn-success form-control" onclick="checksavepayment()">ยืนยันการชำระ</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-danger form-control" onclick="checkdeletepayment()">ยกเลิกหลักฐาน</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="work" role="tabpanel" aria-labelledby="work-tab">
                    <form id="workstatusform">
                        @if (Model.OrPrintStatus == 0)
                        {
                            strColorstatus = "danger";
                            strStatrus = "ยังไม่ยืนยันหลักฐานการชำระเงิน";
                            strIcon = "fas fa-times";
                        }
                        else if (Model.OrPrintStatus == 1)
                        {
                            strColorstatus = "warning";
                            strStatrus = "แจ้งชำระแล้วรอยืนยัน";
                            strIcon = "fas fa-history";
                        }
                        else if (Model.OrPrintStatus == 2)
                        {
                            strColorstatus = "info";
                            strStatrus = "อยู่ระหว่างการผลิต";
                            strIcon = "fas fa-info";
                        }
                        else
                        {
                            strColorstatus = "success";
                            strStatrus = "ดำเนินการผลิตเสร็จแล้ว";
                            strIcon = "fas fa-check";
                        }
                        <div class="alert alert-@strColorstatus" role="alert"><i class="@strIcon"></i> @strStatrus</div>
                        <div class="form-group" style="margin-top:2%">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-6">
                                    วันที่สั่ง : @ViewBag.OrPrintDate.ToString("dd MMM yyyy")
                                </div>
                                <div class="col-md-6">
                                    @if (ViewBag.OrPrintDue != null)
                                    {
                                        <label>วันครบกำหนดรับ : @ViewBag.OrPrintDue.ToString("dd MMM yyyy")</label>
                                    }
                                    else
                                    {
                                        <label class="text-danger">วันครบกำหนดรับ: อยู่ระอย่างการประเมินระยะเวลาส่งมอบ</label>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form-group">
                        <div class="row">
                            @if (Model.OrPrintStatus == 2 && ViewBag.getPayCode != null)
                            {
                                <div class="col-md-12">
                                    <button class="btn btn-outline-success form-control" name="btnWorksave" id="btnWorksave" onclick="checksaveworkstatus()">ผลิตเสร็จสิ้น</button>
                                </div>
                            }
                            @if (Model.OrPrintStatus == 3 || ViewBag.getShippingImg != null)
                            {
                                <div class="col-md-12">
                                    <button class="btn btn-warning form-control" name="btnWorkedit" id="btnWorkedit" onclick="checkeditworkstatus()">กำลังผลิตอยู่</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
                    <form id="updateShipping" action="/OrderPrint/upload" method="post" enctype="multipart/form-data" onsubmit="return updateData(this)">
                        @if (Model.OrPrintStatus == 0)
                        {
                            strColorstatus = "danger";
                            strStatrus = "ยังไม่ยืนยันหลักฐานการชำระเงิน";
                            strIcon = "fas fa-times";
                        }
                        else if (Model.OrPrintStatus == 1)
                        {
                            strColorstatus = "warning";
                            strStatrus = "แจ้งชำระแล้วรอยืนยัน";
                            strIcon = "fas fa-history";
                        }
                        else if (Model.OrPrintStatus == 2)
                        {
                            strColorstatus = "info";
                            strStatrus = "อยู่ระหว่างการผลิต";
                            strIcon = "fas fa-info";
                        }
                        else if (Model.OrPrintStatus == 3)
                        {
                            strColorstatus = "info";
                            strStatrus = "อยู่ระหว่างการส่งมอบ";
                            strIcon = "fas fa-info";
                        }
                        else
                        {
                            strColorstatus = "success";
                            strStatrus = "ส่งมอบเสร็จสิ้น";
                            strIcon = "fas fa-check";
                        }
                        <div class="alert alert-@strColorstatus" role="alert"><i class="@strIcon"></i> @strStatrus</div>

                        <input type="hidden" name="OrPrintId" id="OrPrintId" value="@ViewBag.OrPrintId" />
                        <input type="hidden" name="OrPrintStatus" id="OrPrintStatus" value="4" />

                        @if (Model.OrPrintStatus == 3)
                        {
                            strDis = "";
                        }
                        else
                        {
                            strDis = "disabled";
                        }
                        <div class="row" style="margin-bottom:2%">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input @strDis class="form-control" type="date" name="ShippingDate" id="ShippingDate" min='@ViewBag.getDatePayForPicker' max='@ViewBag.GetDueForPicker' required="required" value="@ViewBag.getShippingDate" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input @strDis type="file" name="Uploadfile" id="Uploadfile" required="required" value="@ViewBag.getShippingImg" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:5px">
                            <div class="col-md-12" align="right">
                                <p id="StatusImg"></p>
                            </div>
                        </div>
                        @if (ViewBag.getShippingImg != null || Model.OrPrintStatus == 3)
                        {
                            <div class="row" style="margin-bottom:2%">
                                <div class="col-md-12" align="center">
                                    <img src="/@ViewBag.getShippingImg" alt="รูปส่งมอบของ @ViewBag.OrPrintId" width="100%" />
                                </div>
                            </div>
                        }
                        else
                        {

                        }
                        <div class="row">
                            <div class="col-md-12">
                                <button hidden class="btn btn-outline-success form-control" name="btnSave" id="btnSave" type="submit" onclick="saveshipping()">บันทึกการส่งมอบ</button>
                            </div>
                            @if (Model.OrPrintStatus == 3 && ViewBag.getPayCode != null && ViewBag.getShippingImg == null)
                            {
                                <div class="col-md-12">
                                    <button class="btn btn-outline-success form-control" name="btnSave" id="btnSave" type="submit" onclick="saveshipping()">บันทึกการส่งมอบ</button>
                                </div>
                            }
                        </div>

                    </form>
                    <div class="row">
                        @if (Model.OrPrintStatus == 5)
                        {

                        }
                        else
                        {
                            @if (Model.OrPrintStatus == 4 || ViewBag.getShippingImg != null)
                            {
                                <div class="col-md-6">
                                    <button class="btn btn-warning form-control" name="btnEdit" id="btnEdit" onclick="editshipping()">แก้ไข</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-danger form-control" name="btnDelete" id="btnDelete" onclick="checkeditshipping()">ลบ</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function checksaveordue() {
            swal({
                title: "กรุณายืนยันการทำรายการ",
                text: "คุณต้องการกำหนดระยะเวลาส่งมอบสื่อสิ่งพิมพ์ภายใน" + document.getElementById('OrPrintDue').value + "ใช่หรือไม่",
                icon: "warning",
                buttons:["ยกเลิก","ยืนยัน"],
            }).then((willupdate) => {
                if (willupdate) {
                    saveordue();
                } else {
                    swal({
                        title: "ยกเลิก !",
                        text: "คุณได้ยกเลิกการทำรายการนี้แล้ว",
                        icon:"error",
                    });
                }
            })
        }
        function saveordue() {
            var OrPrintId = document.getElementById("OrPrintId").value;
            var OrPrintDue = document.getElementById('OrPrintDue').value;
            $.ajax({
                type: "post",
                data: { OrPrintId, OrPrintDue },
                url: "/OrderPrint/updateordueall",
                success: function (result) {
                    if (result == 1) {
                        toastr.success("ประเมินระยะเวลาส่งมอบรายการสั่งทำที่ : @ViewBag.OrPrintId เรียบร้อยแล้ว", "สำเร็จ", { timeOut: 3000, "closeButton": true });
                        setTimeout(function load() {
                            location.reload();
                        }, 1500);
                    } else {
                        toastr.error("รายการสั่งทำที่ : @ViewBag.OrPrintId ไม่ถูกเปลี่ยนแปลง", "ไม่สำเร็จ", { timeOut: 3000, "closeButton": true });
                    }
                }
            })
        }

        function checksavepayment() {
            swal({
                title: "กรุณายืนยันการทำรายการ",
                text: "คุณต้องการเปลี่ยนแปลงสถานะการชำระเงิน รายการที่ : @ViewBag.OrPrintId ใช่หรือไม่",
                icon: "warning",
                buttons:["ยกเลิก","ยืนยัน"],
            }).then((willupdate) => {
                if (willupdate) {
                    savepayment();
                } else {
                    swal({
                        title: "ยกเลิก !",
                        text: "คุณได้ยกเลิกการทำรายการนี้แล้ว",
                        icon:"error",
                    });
                }
            })
        }
        function savepayment() {
            var OrPrintId = document.getElementById("OrPrintId").value;
            var OrPrintStatus = 2;
            var PrfPayStatus = 1;
            $.ajax({
                type: "post",
                data: { OrPrintId, OrPrintStatus, PrfPayStatus },
                url: "/OrderPrint/updatepayment",
                success: function (result) {
                    if (result == 1) {
                        toastr.success("ยืนยันการแจ้งชำระเงินรายการสั่งทำที่ : @ViewBag.OrPrintId เรียบร้อยแล้ว", "สำเร็จ", { timeOut: 3000, "closeButton": true });
                        setTimeout(function load() {
                            location.reload();
                        }, 1500);
                    } else {
                        toastr.error("รายการสั่งทำที่ : @ViewBag.OrPrintId ไม่ถูกเปลี่ยนแปลง", "ไม่สำเร็จ", { timeOut: 3000, "closeButton": true });
                    }
                }
            })
        }
        function checksaveworkstatus() {
            swal({
                title: "กรุณายืนยันการทำรายการ",
                text: "คุณต้องการเปลี่ยนแปลงสถานะงาน รายการที่ : @ViewBag.OrPrintId ใช่หรือไม่",
                icon: "warning",
                buttons:["ยกเลิก","ยืนยัน"],
            }).then((willupdate) => {
                if (willupdate) {
                    saveworkstatus();
                } else {
                    swal({
                        title: "ยกเลิก !",
                        text: "คุณได้ยกเลิกการทำรายการนี้แล้ว",
                        icon:"error",
                    });
                }
            })
        }
        function saveworkstatus() {
            var OrPrintId = document.getElementById("OrPrintId").value;
            var OrPrintStatus = 3;
            $.ajax({
                type: "post",
                data: { OrPrintId, OrPrintStatus },
                url: "/OrderPrint/updateworkstatus",
                success: function (result) {
                    if (result == 1) {
                        toastr.success("บันทึกสถานะรายการสั่งทำที่ : @ViewBag.OrPrintId เรียบร้อยแล้ว", "สำเร็จ", { timeOut: 3000, "closeButton": true });
                        setTimeout(function load() {
                            location.reload();
                        }, 1500);
                    } else {
                        toastr.error("รายการสั่งทำที่ : @ViewBag.OrPrintId ไม่ถูกเปลี่ยนแปลง", "ไม่สำเร็จ", { timeOut: 3000, "closeButton": true });
                    }
                }
            })
        }

        ShippingDate.step = new Date().toISOString().split("T")[0];

        $(function () {
            $("#Uploadfile").change(function () {
                $("#StatusImg").html('<font color="Gold"><i class="fas fa-time"></i> กำลังตรวจสอบ </font>');
                var filetype = ["jpeg", "jpg", "gif", "png", "bmp"];

                if ($.inArray($(this).val().split('.').pop().toLowerCase(), filetype) == -1) {
                    $("#StatusImg").html('<font color="Red"><i class="fas fa-times"></i> ไฟล์ไม่ถูกต้อง ! ไม่สามารถใช้ไฟล์นี้ได้ </font>');
                    $("#Uploadfile").val("");
                    $("#btnSave").attr('disabled', true);
                } else {
                    $("#StatusImg").html('<font color="Green"><i class="fas fa-check"></i> ไฟล์ถูกต้อง สามารถใช้ไฟล์นี้ได้ </font>');
                    $("#btnSave").attr('disabled', false);
                }
            })
        })

        function editshipping() {
            document.getElementById("ShippingDate").disabled = false;
            document.getElementById("Uploadfile").disabled = false;
            document.getElementById("btnEdit").hidden = true;
            document.getElementById("btnDelete").hidden = true;
            document.getElementById("Uploadfile").required = false;
            $("#btnSave").attr('hidden', false);
        }

        function checkeditshipping() {
            swal({
                title: "กรุณายืนยันการทำรายการ",
                text: "การลบข้อมูลบันทึกการส่งมอบ ไว้สำหรับกรณีบันทึกผิดพลาด คุณต้องการลบข้อมูลการส่งมอบ รายการที่ : @ViewBag.OrPrintId ใช่หรือไม่",
                icon: "warning",
                buttons:["ยกเลิก","ยืนยัน"],
            }).then((willupdate) => {
                if (willupdate) {
                    deleteshipping();
                } else {
                    swal({
                        title: "ยกเลิก !",
                        text: "คุณได้ยกเลิกการทำรายการนี้แล้ว",
                        icon:"error",
                    });
                }
            })
        }


        function deleteshipping() {
            var OrPrintId = document.getElementById("OrPrintId").value;
            var OrPrintStatus = 3;
            $.ajax({
                type: "post",
                data: { OrPrintId, OrPrintStatus },
                url: "/OrderPrint/deleteshipping",
                success: function (result) {
                    if (result == 1) {
                        toastr.success("ลบข้อมูลการส่งมอบ : @ViewBag.OrPrintId เรียบร้อยแล้ว", "สำเร็จ", { timeOut: 3000, "closeButton": true });
                        setTimeout(function load() {
                            location.reload();
                        }, 1500);
                    } else {
                        toastr.error("รายการสั่งทำที่ : @ViewBag.OrPrintId ไม่ถูกเปลี่ยนแปลง", "ไม่สำเร็จ", { timeOut: 3000, "closeButton": true });
                    }
                }
            })
        }

        function checkeditworkstatus() {
            swal({
                title: "กรุณายืนยันการทำรายการ",
                text: "การแก้ไขสถานะงานมีผลทำให้ข้อมูลส่วนอื่น ๆ ถูกลบไปด้วย ! คุณต้องการเปลี่ยนแปลงสถานะงาน รายการที่ : @ViewBag.OrPrintId ใช่หรือไม่",
                icon: "warning",
                buttons:["ยกเลิก","ยืนยัน"],
            }).then((willupdate) => {
                if (willupdate) {
                    editworkstatus();
                } else {
                    swal({
                        title: "ยกเลิก !",
                        text: "คุณได้ยกเลิกการทำรายการนี้แล้ว",
                        icon:"error",
                    });
                }
            })
        }

        function editworkstatus() {
            var OrPrintId = document.getElementById("OrPrintId").value;
            var OrPrintStatus = 2;
            $.ajax({
                type: "post",
                data: { OrPrintId, OrPrintStatus },
                url: "/OrderPrint/deleteworkstatus",
                success: function (result) {
                    if (result == 1) {
                        toastr.success("แก้ไขสถานะงาน : @ViewBag.OrPrintId เรียบร้อยแล้ว", "สำเร็จ", { timeOut: 3000, "closeButton": true });
                        setTimeout(function load() {
                            location.reload();
                        }, 1500);
                    } else {
                        toastr.error("รายการสั่งทำที่ : @ViewBag.OrPrintId ไม่ถูกเปลี่ยนแปลง", "ไม่สำเร็จ", { timeOut: 3000, "closeButton": true });
                    }
                }
            })
        }
        function checkdeletepayment() {
            swal({
                title: "กรุณายืนยันการทำรายการ",
                text: "การยกเลิกหลักฐานการชำระมีผลทำให้ลูกค้าต้องสั่งทำใหม่อีกครั้ง คุณค้องการยกเลิกหลักฐานการชำระรายการที่ : @ViewBag.OrPrintId ใช่หรือไม่",
                icon: "warning",
                buttons:["ยกเลิก","ยืนยัน"],
            }).then((willupdate) => {
                if (willupdate) {
                    deletepayment();
                } else {
                    swal({
                        title: "ยกเลิก !",
                        text: "คุณได้ยกเลิกการทำรายการนี้แล้ว",
                        icon:"error",
                    });
                }
            })
        }

        function deletepayment() {
            var OrPrintId = document.getElementById("OrPrintId").value;
            var OrPrintStatus = 0;
            var PrfPayStatus = 0;
            $.ajax({
                type: "post",
                data: { OrPrintId, OrPrintStatus, PrfPayStatus },
                url: "/OrderPrint/deletepayment",
                success: function (result) {
                    if (result == 1) {
                        toastr.success("ยกเลิกหลักฐานการแจ้งชำระเงิน : @ViewBag.OrPrintId เรียบร้อยแล้ว", "สำเร็จ", { timeOut: 3000, "closeButton": true });
                        setTimeout(function load() {
                            location.reload();
                        }, 1500);
                    } else {
                        toastr.error("รายการสั่งทำที่ : @ViewBag.OrPrintId ไม่ถูกเปลี่ยนแปลง", "ไม่สำเร็จ", { timeOut: 3000, "closeButton": true });
                    }
                }
            })
        }
    </script>
