@model IEnumerable<Graphiczone.Models.SQLServer.OrderPrint>
@{
    ViewData["Title"] = "รายการที่ยังไม่ชำระเงิน";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    #roworder:hover {
        border-left: solid 7px;
        border-left-color: red;
        border-right: solid 7px;
        border-right-color: red;
        font-weight: bold;
        color: #536DFE !important;
    }
</style>

@{
    var strStatus = "";
    var strColorStatus = "";
}
<div class="table-head" style="background-color:red">
    <div class="table-cell">
        <p class="text-white" style="font-size:2rem">รายการที่ยังไม่ชำระเงิน</p>
    </div>
</div>

<div id="PlaceHolderHere"></div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("ListOverdue", "OrderPrint", FormMethod.Get))
        {
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-secondary text-white badge-pill" id="SDT"><i class="fas fa-search" id="SDT"></i></span>
                </div>
                <input class="form-control" type="text" id="id" name="id" placeholder="ค้นหารหัสสั่งทำ" onchange="searchData()">
                <div class="input-group-append">
                    <button class="btn btn-secondary badge-pill" onclick="searchData()">ค้นหา</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="mt-2" align="right">
    <label class="badge badge-secondary badge-pill"><b>ทั้งหมด @ViewBag.countData รายการ</b></label>
</div>

<div class="table-box">
    <div class="table-row bg-dark" style="font-weight:bold;">
        <div class="table-cell text-white">
            <p>รหัสสั่งทำ</p>
        </div>
        <div class="table-cell text-white">
            <p>วันที่สั่งทำ</p>
        </div>
        <div class="table-cell text-white">
            <p>วันที่รับสินค้า</p>
        </div>
        <div class="table-cell text-white">
            <p>สถานะ</p>
        </div>
        <div class="table-cell last-cell text-white">
            <p>ยืนยันสถานะงาน</p>
        </div>
    </div>
    @if (ViewBag.countData != 0)
    {
        @foreach (var item in Model)
        {
            <div class="table-row" id="roworder">
                <div class="table-cell">
                    <p>@item.OrPrintId</p>
                </div>
                <div class="table-cell">
                    <p>@item.OrPrintDate.Value.Date.ToString("dd MMM yyyy")</p>
                </div>
                <div class="table-cell">
                    <p>@item.OrPrintDue.Value.Date.ToString("dd MMM yyyy")</p>
                </div>
                <div class="table-cell">
                    @if (item.OrPrintStatus == 0)
                    {
                        strStatus = "ค้างชำระ";
                        strColorStatus = "danger";
                    }
                    else if (item.OrPrintStatus == 1)
                    {
                        strStatus = "แจ้งชำระแล้วรอยืนยัน";
                        strColorStatus = "info";
                    }
                    else if (item.OrPrintStatus == 2)
                    {
                        strStatus = "ชำระเงินแล้ว";
                        strColorStatus = "success";
                    }
                    else if (item.OrPrintStatus == 3)
                    {
                        strStatus = "ผลิตเสร็จแล้ว";
                        strColorStatus = "primary";
                    }
                    else if (item.OrPrintStatus == 4)
                    {
                        strStatus = "ส่งมอบแล้ว";
                        strColorStatus = "warning";
                    }
                    <p class="badge badge-pill badge-@strColorStatus">@strStatus</p>
                </div>
                <div class="table-cell last-cell">
                    <button type="button" class="btn btn-outline-info badge-pill" data-toggle="ajax-modal"
                            data-target="#OrderDetailforOverdue" data-url="@Url.Action($"OrderDetailforOverdue/{item.OrPrintId}")">
                        <i class="fas fa-search" id="SDT"></i> ดูรายละเอียด
                    </button>
                </div>
            </div>
        }
    }
    else
    {
        <div class="table-row bg-secondary">
            <div class="table-cell last-cell">
                <span class="text-white font-weight-bold">ไม่พบข้อมูล</span>
            </div>
        </div>
    }
</div>