@model IEnumerable<Graphiczone.Models.SQLServer.OrderPrint>
@{
    ViewData["Title"] = "ListCustomerWorkShipping";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<style>
    .table-head, .table-row {
        display: table;
        width: 100%;
        margin: 10px auto;
        background: transparent;
        padding: 12px 0;
        box-shadow: 0 1px 4px 0 rgba(0,0,50,0.3);
    }

    .table-cell {
        display: table-cell;
        width: 15%;
        text-align: center;
        padding: 5px 0;
        vertical-align: middle;
        color: #00189f;
    }


    .table-cell-1 {
        display: table-cell;
        width: 15%;
        text-align: center;
        padding: 5px 0;
        vertical-align: middle;
        color: #00189f;
        border-right: 2px solid #d6d4d4;
    }

    .table-cell-2 {
        display: table-cell;
        width: 15%;
        text-align: center;
        padding: 5px 0;
        vertical-align: middle;
        color: white;
        border-right: 2px solid #d6d4d4;
    }
</style>
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        @{ var strStatus = "";
            var strColorStatus = ""; }

        <div class="table-head" style="background-color: #ED186B;">
            <div class="table-cell">
                <p class="text-white" style="font-size:2rem">เช็คสถานะการส่งมอบ</p>
            </div>
        </div>

        <div id="PlaceHolderHere"></div>

    </div>
    <div class="col-md-1">

    </div>
</div>
<div class="row" style="margin-top:1.5rem;">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        @using (Html.BeginForm("ListCustomerWorkShipping", "OrderPrint", FormMethod.Get))
        {
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-secondary text-white badge-pill" id="SDT"><i class="fas fa-search" id="SDT"></i></span>
                </div>
                <input class="form-control" type="text" id="id" name="id" placeholder="ข้อมูลที่ต้องการค้นหา" onchange="searchData()">
                <div class="input-group-append">
                    <button class="btn btn-secondary badge-pill" onclick="searchData()">ค้นหา</button>
                </div>
            </div>}
    </div>
    <div class="col-md-1">

    </div>
</div>
<div class="row" style="margin-top:1.5rem;">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <div class="table-box">
            <div class="table-row" style="font-size:20px;Background:#484848;">
                <div class="table-cell-2">
                    <p>รหัสสั่งทำ</p>
                </div>
                <div class="table-cell-2">
                    <p>วันที่สั่งทำ</p>
                </div>
                <div class="table-cell-2">
                    <p>วันที่รับสินค้า</p>
                </div>
                <div class="table-cell-2">
                    <p>สถานะ</p>
                </div>
                <div class="table-cell last-cell" style="color:white;">
                    <p>รายละเอียดบิล</p>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="table-row">
                    <div class="table-cell-1">
                        <p>@item.OrPrintId</p>
                    </div>
                    <div class="table-cell-1">
                        <p>@item.OrPrintDate.Value.Date.ToString("dd MMM yyyy")</p>
                    </div>
                    <div class="table-cell-1">
                        <p>@item.OrPrintDue.Value.Date.ToString("dd MMM yyyy")</p>
                    </div>
                    <div class="table-cell-1">
                        <p>
                            @if (@item.OrPrintStatus == 0)
                            {
                                strStatus = "ค้างชำระเงิน";
                            }
                            else if (@item.OrPrintStatus == 1)
                            {
                                strStatus = "รอยืนยันการชำระ";
                            }
                            else if (@item.OrPrintStatus == 2)
                            {
                                strStatus = "ชำระเงินแล้ว";
                            }
                            else if (@item.OrPrintStatus == 3)
                            {
                                strStatus = "รอส่งมอบ";
                            }
                            else if (@item.OrPrintStatus == 4)
                            {
                                strStatus = "ส่งมอบแล้ว";
                            }
                            @strStatus
                        </p>
                    </div>
                    <div class="table-cell last-cell">
                        <button type="button" class="btn btn-outline-info badge-pill" data-toggle="ajax-modal"
                                data-target="#ShowOrderDetail" data-url="@Url.Action($"ShowOrderDetail/{item.OrPrintId}")">
                            ดูรายละเอียดบิล
                        </button>
                    </div>
                </div>}
        </div>
    </div>
    <div class="col-md-1">

    </div>
</div>


