
@{ ViewData["Title"] = "_EditProofPayment"; }
<style>
    .xs {
        position: relative;
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;
    }

        .xs .img {
            position: absolute;
            transform: translate();
            visibility: hidden;
            z-index: 1;
            max-width: 100%;
            height: auto;
        }

        .xs:hover .img {
            visibility: visible;
        }
</style>
@{ 
    double total = 0;
    double tax = 0.07;
}
<div class="modal fade" id="EditProofPayment">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5>ข้อมูลรายการสั่งทำที่ : @ViewBag.OrderPrintId</h5>
                <input type="hidden" name="OrderPrintId" id="OrderPrintId" value="@ViewBag.OrderPrintId" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <h5 class="card-header">แจ้งหลักฐานการชำระเงิน</h5>
                    <div class="card-body">
                        <div class="container">
                            <form id="updateProofPayment" action="/ProofPayment/upload" method="post" enctype="multipart/form-data" onsubmit="return updateData(this)">

                                <input type="hidden" name="OrPrintId" id="OrPrintId" value="@ViewBag.OrderPrintId" />
                                <input type="hidden" name="OrPrintStatus" id="OrPrintStatus" value="1" />

                                <div class="row" style="margin-bottom:2%">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-barcode"></i>  รหัสอ้างอิงการโอน</span>
                                            </div>
                                            <input class="form-control" type="text" name="PrfPayId" id="PrfPayId" placeholder="กรุณากรอกรหัสอ้างอิงการโอน" maxlength="255"/>
                                        </div>
                                        <div class="input-group" style="margin-top:1%">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-university"></i>  ชื่อธนาคาร</span>
                                            </div>
                                            <select class="form-control" name="PrfPayBank" id="PrfPayBank" >
                                                <option value="">เลือกธนาคาร</option>
                                                <option value="ธ.กรุงศรีอยุธยา">ธ.กรุงศรีอยุธยา</option>
                                                <option value="ธ.กรุงเทพ">ธ.กรุงเทพ</option>
                                                <option value="ธ.กรุงไทย">ธ.กรุงไทย</option>
                                                <option value="ธ.กสิกรไทย">ธ.กสิกรไทย</option>
                                                <option value="ธ.เกียรตินาคิน">ธ.เกียรตินาคิน</option>
                                                <option value="ธ.ทหารไทย">ธ.ทหารไทย</option>
                                                <option value="ธ.ไทยพาณิชย์">ธ.ไทยพาณิชย์</option>
                                                <option value="ธ.ธนชาต">ธ.ธนชาต</option>
                                                <option value="ธ.เพื่อการเกษตรและสหกรณ์">ธ.เพื่อการเกษตรและสหกรณ์</option>
                                                <option value="ธ.ออมสิน">ธ.ออมสิน</option>
                                                <option value="ธ.อาคารสงเคราะห์">ธ.อาคารสงเคราะห์</option>
                                            </select>
                                        </div>
                                        <div class="input-group" style="margin-top:1%">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i>  วันที่โอน</span>
                                            </div>
                                            <input class="form-control" type="date" name="PrfPayDate" id="PrfPayDate" min='@ViewBag.GetDateForPicker' max='@ViewBag.getDueForPicker' />
                                        </div>
                                        <div class="input-group" style="margin-top:1%">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-clock"></i>  เวลาที่โอน</span>
                                            </div>
                                            <input class="form-control" type="time" name="PrfPayTime" id="PrfPayTime" />
                                        </div>
                                        <div class="input-group" style="margin-top:1%">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">หมายเหตุ</span>
                                            </div>
                                            <textarea class="form-control" aria-label="With textarea" name="PrfPayDetail" id="PrfPayDetail"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="file" name="Uploadfile" id="Uploadfile" />
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px">
                                    <div class="col-md-12" align="right">
                                        <p id="StatusImg"></p>
                                    </div>
                                </div>
                                <div align="center" style="margin-top:2%">
                                    <button type="submit" class="btn btn-outline-success badge-pill" id="btnSave">บันทึก</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">รายละเอียดรายการสั่ง</h5>
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>สั่งทำโดย : คุณ @ViewBag.CusFullName </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>สั่งเมื่อวันที่ : @ViewBag.OrderDate.ToString("dd MMMM yyyy")</label>
                                </div>
                                <div class="col-md-6">
                                    <label>กำหนดรับวันที่ : @ViewBag.OrderDue.ToString("dd MMMM yyyy")</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-box ">
                                        <div class="table-row bg-dark">
                                            <div class="table-cell text-white">
                                                <p>รหัสรายการ</p>
                                            </div>
                                            <div class="table-cell text-white">
                                                <p>ชื่อรายการ</p>
                                            </div>
                                            <div class="table-cell text-white">
                                                <p>พื้นที่รวม</p>
                                            </div>
                                            <div class="table-cell text-white">
                                                <p>ราคาต่อหน่วย</p>
                                            </div>
                                            <div class="table-cell text-white">
                                                <p>จำนวน</p>
                                            </div>
                                            <div class="table-cell last-cell text-white">
                                                <p>รวมเป็นเงิน</p>
                                            </div>
                                        </div>
                                        @{ var totalprice = 0; }

                                        @foreach (var x in ViewBag.OrderList)
                                        {
                                    <div class="table-row">
                                        <div class="table-cell">
                                            <p>@x.OrdPrintId</p>
                                        </div>
                                        <div class="table-cell">
                                            <a href="/@x.OrdPrintFile" target="_blank">
                                                <span class="xs">
                                                    @foreach (var p in ViewBag.PrintName)
                                                    {
                                                        if (x.PrintId == p.PrintId)
                                                        {
                                                            <label>@p.PrintName</label>
                                                        }
                                                    }
                                                    <img class="img" id="showImg" src="/@x.OrdPrintFile" />
                                                </span><br />
                                            </a>
                                            <small>( @x.OrdPrintWidth X @x.OrdPrintHeight )</small><br />
                                            @if (x.OrdPrintDetail != null)
                                            {
                                            <small><p class="badge badge-primary" data-toggle="tooltip" data-placement="right" title="@x.OrdPrintDetail">รายละเอียดเพิ่มเติม</p></small>
                                            <script>
                                                $(document).ready(function () {
                                                    $('[data-toggle="tooltip"]').tooltip();
                                                });
                                            </script>
                                            }
                                        </div>
                                        <div class="table-cell">
                                            <p>
                                                @{ var sumarea = (x.OrdPrintWidth * x.OrdPrintHeight) / 10000; }
                                                @sumarea
                                            </p>
                                        </div>
                                        <div class="table-cell">
                                            <p>@x.OrdPrintPriceset.ToString("#,###.00")</p>
                                        </div>
                                        <div class="table-cell">
                                            <p>@x.OrdPrintNum.ToString("#,###")</p>
                                        </div>
                                        <div class="table-cell last-cell">
                                            <p>@x.OrdPrintTotal.ToString("#,###.00")</p>
                                        </div>
                                    </div>
                                    total += x.OrdPrintTotal;
                                }
                                        <div class="row mt-3">
                                            <div class="col-md-4">
                                                <div class="alert alert-primary" align="center">
                                                    <h5>ราคาสุทธิ : <b>@total.ToString("#,###.00")</b> บาท</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="alert alert-warning" align="center">
                                                    @{ total = total * tax;}
                                                    <h5>ภาษี 7% เป็นเงิน : <b>@total.ToString("#,###.00")</b> บาท</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="alert alert-success" align="center">
                                                    <h5>รวมเป็นเงิน : <b>@ViewBag.PriceTotal.ToString("#,###.00")</b> บาท</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-time"></i>ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>
<script>
    PrfPayDate.step = new Date().toISOString().split("T")[0];

    $(function () {
        $("#Uploadfile").change(function () {
            $("#StatusImg").html('<font color="Gold"><i class="fas fa-time"></i> กำลังตรวจสอบ </font>');
            var filetype = ["jpeg", "jpg", "gif", "png", "bmp"];

            if ($.inArray($(this).val().split('.').pop().toLowerCase(), filetype) == -1) {
                $("#StatusImg").html('<font color="Red"><i class="fas fa-times"></i> ไฟล์ไม่ถูกต้อง ! ไม่สามารถใช้ไฟล์นี้ได้ </font>');
                $("#Uploadfile").val("");
                $("#btnSave").attr('disabled', true);
            } else {
                $("#StatusImg").html('<font color="Green"><i class="fas fa-check"></i> ไฟล์ถูกต้อง สามารถใช้ไฟล์นี้ได้ </font>');
                $("#btnSave").attr('disabled', false);
            }
        })
    })

    function updateData() {
        if (document.getElementById('PrfPayId').value == '' || document.getElementById('PrfPayBank').value == '' || document.getElementById('PrfPayDate').value == '' || document.getElementById('PrfPayTime').value == '' || document.getElementById('Uploadfile').value == '') {
            swal("ผิดพลาด !", "กรุณากรอกข้อมูลแจ้งชำระเงินให้ครบถ้วน", "error");
            return false;
        } else {
            return true;
        }
    }

</script>