@model IEnumerable<Graphiczone.Models.SQLServer.OrderPrint>

@{
    ViewData["Title"] = "ListProofPayment";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<style>
    .table-head, .table-row {
        display: table;
        width: 100%;
        margin: 10px auto;
        background: transparent;
        padding: 12px 0;
        box-shadow: 0 1px 4px 0 rgba(0,0,50,0.3);
    }

    .table-cell {
        display: table-cell;
        width: 15%;
        text-align: center;
        padding: 5px 0;
        border-right: 1px solid #d6d4d4;
        vertical-align: middle;
        color: #00189f;
    }
</style>
@{
    var strStatus = "";
}

<div class="table-head" style="background:linear-gradient(to right,#ff007d,#0094ff)">
    <div class="table-cell">
        <p class="text-white" style="font-size:2rem">แจ้งหลักฐานการชำระเงิน</p>
    </div>
</div>

<div id="PlaceHolderHere"></div>

<div class="table-box">
    <div class="table-row">
        <div class="table-cell">
            <p>รหัสสั่งทำ</p>
        </div>
        <div class="table-cell">
            <p>วันที่สั่งทำ</p>
        </div>
        <div class="table-cell">
            <p>วันที่รับสินค้า</p>
        </div>
        <div class="table-cell">
            <p>สถานะชำระเงิน</p>
        </div>
        <div class="table-cell last-cell">
            <p>แจ้งหลักฐานการชำระเงิน</p>
        </div>
    </div>
    @foreach (var item in Model)
        {
            <div class="table-row">
                <div class="table-cell">
                    <p>@item.OrPrintId</p>
                </div>
                <div class="table-cell">
                    <p>@item.OrPrintDate.Value.ToString("dd MMM yyyy")</p>
                </div>
                <div class="table-cell">
                    <p>@item.OrPrintDue.Value.ToString("dd MMM yyyy")</p>
                </div>
                <div class="table-cell">
                    <p>
                        @if (@item.OrPrintStatus == 0)
                        {
                            strStatus = "ค้างชำระเงิน";
                        }
                        else if (@item.OrPrintStatus == 1)
                        {
                            strStatus = "รอยืนยันการชำระ";
                        }
                        else if (@item.OrPrintStatus == 2)
                        {
                            strStatus = "ชำระเงินแล้ว";
                        }
                    @strStatus
                    </p>
                </div>
                <div class="table-cell last-cell">
                    <button type="button" class="btn btn-outline-info badge-pill" data-toggle="ajax-modal"
                            data-target="#EditProofPayment" data-url="@Url.Action($"EditProofPayment/{item.OrPrintId}")">
                        ส่งหลักฐานการโอนเงิน
                    </button>
                </div>
            </div>
        }
    @*<div class="table-row">
        <div class="table-cell">
            <p>OR001</p>
        </div>
        <div class="table-cell">
            <p>12/03/63</p>
        </div>
        <div class="table-cell">
            <p>12/04/63</p>
        </div>
        <div class="table-cell">
            <p>ยังไม่ชำระเงิน</p>
        </div>
        <div class="table-cell last-cell">
            <button type="button" class="btn btn-outline-info badge-pill" data-toggle="ajax-modal"
                    data-target="#EditProofPayment" data-url="@Url.Action("Edit")">
                ส่งหลักฐานการชำระเงิน
            </button>
        </div>
    </div>*@
</div>

