@model IEnumerable<Graphiczone.Models.SQLServer.ProofPayment>

@{
    ViewData["Title"] = "รายงานข้อมูลการให้บริการที่ได้รับชำระเงินแล้ว";
    Layout = "~/Views/Shared/_formatReport.cshtml";
}

<h4 style="top:0;" align="center">รายงานข้อมูลการให้บริการที่ได้รับชำระเงินแล้ว</h4>
<h6 align="right"><label>ตั้งแต่ @ViewBag.Start.ToString("dd MMM yyyy") จนถึง @ViewBag.End.ToString("dd MMM yyyy")</label></h6>
<h6 align="right"><label align="right">วันที่เรียกดู @DateTime.Now.ToString("dddd dd MMMM yyyy")</label></h6>

<table class="table" style="margin-top:2px">
    @{
        var countlist = 0;
        double totallist = 0;
        double tax = 0.07;
        double totalincome = 0;
        var alllist = 0;
    }
    @foreach (var x in Model)
    {
        @foreach (var o in ViewBag.listorprint)
        {
            @if (x.OrPrintId == o.OrPrintId)
            {
                <thead class="table table-secondary">
                    <tr>
                        <th colspan="2" align="left">รหัสสั่งทำ</th>
                        <th align="center">สั่งทำวันที่</th>
                        <th align="center">กำหนดส่งวันที่</th>
                        <th align="center">ชำระเงินวันที่</th>
                        <th align="center">ชื่อลูกค้าที่สั่ง</th>
                    </tr>
                </thead>
                <tbody align="left">
                    <tr>
                        <td colspan="2">@x.OrPrintId</td>
                        <td>@o.OrPrintDate.ToString("dd MMM yyyy")</td>
                        <td>@o.OrPrintDue.ToString("dd MMM yyyy")</td>
                        <td>@x.PrfPayDate.Value.ToString("dd MMM yyyy")</td>
                        @foreach (var c in ViewBag.listcus)
                        {
                            if (o.CusId == c.CusId)
                            {
                                <td>@c.CusFirstname @c.CusLastname</td>
                            }
                        }
                    </tr>
                <thead>
                    <tr>
                        <th align="center"><span align="center">รหัสรายการสั่งทำ</span></th>
                        <th aling="left"><span align="center">ป้าย</span></th>
                        <th></th>
                        <th align="center"><span align="center">พื้นที่รวม (ตร.ม.)</span></th>
                        <th align="center"><span align="center">จำนวน/หน่วย</span></th>
                        <th align="center"><span align="center">ราคา</span></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in ViewBag.list)
                    {
                        if (i.OrPrintId == x.OrPrintId)
                        {
                            <tr>
                                <td align="center">@i.OrdPrintId</td>
                                @foreach (var s in ViewBag.listprint)
                                {
                                    if (i.PrintId == s.PrintId)
                                    {
                                        <td align="left">@s.PrintName (@i.OrdPrintWidth X @i.OrdPrintHeight)</td>
                                    }
                                }
                                <td></td>
                                <td align="right">@{var total = (i.OrdPrintWidth * i.OrdPrintHeight) / 10000;} @total.ToString("#,###.000")</td>
                                <td align="right">@i.OrdPrintNum</td>
                                <td align="right">@i.OrdPrintTotal.ToString("#,###.00")</td>
                            </tr>
                            countlist += 1;
                            totallist += i.OrdPrintTotal;
                        }
                        else
                        {

                        }
                    }
                </tbody>
                <tbody align="right">
                    <tr>
                        <td colspan="5" align="center"><b>ทั้งหมด @countlist รายการ</b></td>
                        <td colspan="1">ราคาสุทธิ : @totallist.ToString("#,###.00")</td>
                    </tr>
                </tbody>
                <tbody align="right">
                    <tr>
                        <td colspan="5" align="right">ภาษี (7%) : @{totallist = totallist * tax;} @totallist.ToString("#,###.00")</td>
                        <td colspan="1">รวมเป็นเงิน : @o.OrPrintTotal.ToString("#,###.00")</td>
                    </tr>
                </tbody>
                </tbody>
                totalincome += @Convert.ToDouble(o.OrPrintTotal);
                countlist = 0;
                totallist = 0;
                alllist += 1;
            }
        }
    }
    <tbody align="right" style="margin-top:2px">
        <tr>
            <td colspan="5" align="right"><b>ยอดขายที่ได้รับชำระเงินทั้งหมด : </b></td>
            <td colspan="1"><b>@alllist.ToString("#,###") รายการ</b></td>
        </tr>
        <tr>
            <td colspan="5" align="right"><b>ยอดขายที่ได้รับชำระเงินแล้วรวมเป็นเงิน : </b></td>
            <td colspan="1"><b>@totalincome.ToString("#,###.00") บาท</b></td>
        </tr>
    </tbody>
</table>