@model IEnumerable<Graphiczone.Models.SQLServer.OrderPrint>

@{
    ViewData["Title"] = "ReportAllincome";
    Layout = "~/Views/Shared/_formatReport.cshtml";
}
<h4 style="top:0;">รายงานรายได้รวมทั้งหมด</h4>
<h6 align="center"><label>ตั้งแต่ @ViewBag.dateS จนถึง @ViewBag.dateE</label></h6>
<h6 align="right"><label align="right">วันที่เรียกดู @DateTime.Now.ToString("dddd dd MMMM yyyy")</label></h6>

<table class="table table-striped" style="margin-top:2px">

    @foreach (var x in Model)
    {
        <thead class="thead-dark">
            <tr align="center">
                <th >รหัสสั่งทำ</th>
                <th></th>
                <th >สั่งทำวันที่</th>
                <th>กำหนดส่งวันที่</th>
                <th>รหัสลูกค้าที่สั่ง</th>
            </tr>
        </thead>
        <tbody align="left">
            <tr>
                <td align="right">@x.OrPrintId</td>
                <td align="right"></td>
                <td align="right">@x.OrPrintDate.Value.ToString("dd MMM yyyy")</td>
                <td align="right">@x.OrPrintDue.Value.ToString("dd MMM yyyy")</td>
                <td align="right">@x.CusId</td>
            </tr>
        <thead class="thead-dark">
            <tr align="center">
                <th >รหัสรายการสั่งทำ</th>
                <th>ป้าย</th>
                <th>พื้นที่รวม (ตร.ม.)</th>
                <th>จำนวน/หน่วย</th>
                <th>ราคา</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in ViewBag.list)
            {
                if (i.OrPrintId == x.OrPrintId)
                {
                    <tr>
                        <td align="right">@i.OrdPrintId</td>  
                        @foreach(var s in ViewBag.listprint)
                        {
                            if(i.PrintId == s.PrintId)
                            {
                                <td align="center">@s.PrintName (@i.OrdPrintWidth X @i.OrdPrintHeight)</td>
                            }
                        }
                        <td align="right">@{var total = i.OrdPrintWidth * i.OrdPrintHeight;} @total.ToString("#,###.000")</td>
                        <td align="right">@i.OrdPrintNum</td>
                        <td align="right">@i.OrdPrintTotal.ToString("#,###.00")</td>
                    </tr>
                }
                else
                {

                }
            }
        </tbody>
        <tbody align="right">
            <tr>
                <th colspan="5">รวมภาษีทั้งหมด : @x.OrPrintTotal.Value.ToString("#,###.00")</th>
            </tr>
        </tbody>
        </tbody>
    }
</table>

