@model IEnumerable<Graphiczone.Models.SQLServer.OrderPrint>

@{
    ViewData["Title"] = "ReportOverdue";
    Layout = "~/Views/Shared/_formatReport.cshtml";
}

<h4 style="top:0;">รายงานรายได้ที่ลูกค้าค้างชำระเงิน</h4>
<h6 align="center"><label>ตั้งแต่ @ViewBag.dateS จนถึง @ViewBag.dateE</label></h6>
<h6 align="right"><label align="right">วันที่เรียกดู @DateTime.Now.ToString("dddd dd MMMM yyyy")</label></h6>

<table class="table table-striped" style="margin-top:2px">

    @foreach (var x in Model)
    {
        <thead>
            <tr>
                <th align="left">รหัสสั่งทำ</th>
                <th></th>
                <th align="center">สั่งทำวันที่</th>
                <th align="center">กำหนดส่งวันที่</th>
                <th align="center">รหัสลูกค้าที่สั่ง</th>
            </tr>
        </thead>
        <tbody align="left">
            <tr>
                <td>@x.OrPrintId</td>
                <td></td>
                <td>@x.OrPrintDate.Value.ToString("dd MMM yyyy")</td>
                <td>@x.OrPrintDue.Value.ToString("dd MMM yyyy")</td>
                <td>@x.CusId</td>
            </tr>
        <thead>
            <tr>
                <th align="center">รหัสรายการสั่งทำ</th>
                <th aling="left">ป้าย</th>
                <th align="center">พื้นที่รวม (ตร.ม.)</th>
                <th align="center">จำนวน/หน่วย</th>
                <th align="center">ราคา</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in ViewBag.list)
            {
                if (i.OrPrintId == x.OrPrintId)
                {
                    <tr>
                        <td align="center">@i.OrdPrintId</td>
                        @foreach(var s in ViewBag.listprint)
                        {
                            if(i.PrintId == s.PrintId)
                            {
                                <td align="center">@s.PrintName (@i.OrdPrintWidth X @i.OrdPrintHeight)</td>
                            }
                        }
                        <td align="left">@{var total = i.OrdPrintWidth * i.OrdPrintHeight;} @total.ToString("#,###.000")</td>
                        <td align="left">@i.OrdPrintNum</td>
                        <td align="left">@i.OrdPrintTotal.ToString("#,###.00")</td>
                    </tr>
                }
                else
                {

                }
            }
        </tbody>
        <tbody align="right">
            <tr>
                <th colspan="5">รวมภาษีทั้งหมด : @x.OrPrintTotal.Value.ToString("#,###.00")</th>
            </tr>
        </tbody>
        </tbody>
    }
</table>

