<header style="font-family: 'Sarabun', sans-serif;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <img src="/@ViewBag.getShoplogo" />
            </div>
            <div class="col-md-5 p-5" align="left">
                <p>
                    @ViewBag.getShopaddress <br />
                    ติดต่อ : @ViewBag.getShopfax, @ViewBag.getShoptel Email: @ViewBag.getShopemail / Line : @ViewBag.getShopline
                </p>
            </div>
            <div class="col-md-4" align="right"><h4>ใบเสร็จชำระเงิน</h4></div>
        </div>
    </div>
</header>