@model IEnumerable<Graphiczone.Models.SQLServer.OrderPrint>
@{
    ViewData["Title"] = "ListWorkStatus";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .table-head, .table-row {
        display: table;
        width: 100%;
        margin: 10px auto;
        background: transparent;
        padding: 12px 0;
        box-shadow: 0 1px 4px 0 rgba(0,0,50,0.3);
    }

    .table-cell {
        display: table-cell;
        width: 15%;
        text-align: center;
        padding: 5px 0;
        border-right: 1px solid #d6d4d4;
        vertical-align: middle;
        color: #00189f;
    }
    #roworder:hover {
        border-left: solid 7px;
        border-left-color: #FFC107;
        border-right: solid 7px;
        border-right-color: #FFC107;
        font-weight: bold;
        color: #FFC107 !important;
    }
</style>
@{
    var strStatus = "";
    var strColorStatus = "";
}
<div class="table-head" style="background-color:#FFC107">
    <div class="table-cell">
        <p class="text-dark" style="font-size:2rem">รายการสถานะส่งมอบ</p>
    </div>
</div>

<div id="PlaceHolderHere"></div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("ListWorkShipping", "Shipping", FormMethod.Get))
        {
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-secondary text-white badge-pill" id="SDT"><i class="fas fa-search" id="SDT"></i></span>
                </div>
                <input class="form-control" type="text" id="id" name="id" placeholder="ข้อมูลที่ต้องการค้นหา" onchange="searchData()">
                <div class="input-group-append">
                    <button class="btn btn-secondary badge-pill" onclick="searchData()">ค้นหา</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="table-box">
    <div class="table-row" style="font-weight:bold;">
        <div class="table-cell">
            <p>รหัสสั่งทำ</p>
        </div>
        <div class="table-cell">
            <p>วันที่สั่งทำ</p>
        </div>
        <div class="table-cell">
            <p>วันที่รับสินค้า</p>
        </div>
        <div class="table-cell">
            <p>สถานะชำระเงิน</p>
        </div>
        <div class="table-cell last-cell">
            <p>ยืนยันสถานะงาน</p>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="table-row" id="roworder">
            <div class="table-cell">
                <p>@item.OrPrintId</p>
            </div>
            <div class="table-cell">
                <p>@item.OrPrintDate.Value.ToString("dd MMM yyyy")</p>
            </div>
            <div class="table-cell">
                <p>@item.OrPrintDue.Value.ToString("dd MMM yyyy")</p>
            </div>
            <div class="table-cell">
                @if (item.OrPrintStatus == 0)
                {
                    strStatus = "ค้างชำระ";
                    strColorStatus = "danger";
                }
                else if (item.OrPrintStatus == 1)
                {
                    strStatus = "ชำระเงินแล้ว";
                    strColorStatus = "success";
                }
                else if (item.OrPrintStatus == 2)
                {
                    strStatus = "ผลิตเสร็จแล้ว";
                    strColorStatus = "primary";
                }
                else if (item.OrPrintStatus == 3)
                {
                    strStatus = "จัดส่งเรียบร้อยแล้ว";
                    strColorStatus = "warning";
                }
                <p class="badge badge-pill badge-@strColorStatus">@strStatus</p>
            </div>
            <div class="table-cell last-cell">
                <button type="button" class="btn btn-outline-info badge-pill" data-toggle="ajax-modal"
                        data-target="#EditWorkShipping" data-url="@Url.Action($"EditWorkShipping/{item.OrPrintId}")">
                    บันทึกการส่งมอบ
                </button>
            </div>
        </div>
    }
</div>